<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @tag.category %>
</p>

<hr>

<%= link_to 'Edit', edit_tag_path(@tag), class: "btn btn-primary" %>
<%= link_to 'Back', tags_path, class: "btn btn-danger" %>
