<h1>Editing Founder</h1>

<div class="row">
    <div class="col">
        <%= render 'form' %>
    </div>
</div>

<hr>

<%= link_to 'Show', @founder, class: "btn btn-primary" %>
<%= link_to 'Back', founders_path, class: "btn btn-success" %>
